@font-face {
  font-family: "main_font";
  src: url("/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.main-font {
  font-family: "main_font", sans-serif;
}

@import "tailwindcss";
